<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body class="border">
		<center>
			<header class="row">
				<img id="logostart" src="images/futurelogo.jpg">

				<h1 id="admin" class="small-12 columns">Add Guests To A Table</h1>
			</header>
			<form class="row" id="addToTable" name="addGuests" method="post" action="/addguest">
				<input class="small-12 columns" type="text" placeholder="Table Number" name="tableno" id="tablenoinput">
				<input class="small-12 columns" id="tablenoinput" type="text" placeholder="Guest Names" name="names">
				<button type="submit" id="admin-add">Add</button>
			</form>

			<form class="row" id="volunteerreturn" action="/volunteer-table">
				<button id="voltable" type="submit">Choose Your Table</button>
			</form>
		</center>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
	</body>
</html>