<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<header class="row">
			<h1 class="small-12 columns">Add guests to a table</h1>
		</header>
		<form class="row" id="addToTable" name="addGuests" method="post" action="/addguest">
			<input class="small-12 columns" type="text" placeholder="Table Number" name="tableno">
			<input class="small-12 columns" type="text" placeholder="Guest Names" name="names">
			<button type="submit" id="admin-add">Add</button>
		</form>
<!-- 		<header class="row">
			<h2 class="small-12 columns">Complete Guest List</h2>
		</header> -->

		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
	</body>
</html>