<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Testing</title>
		<link rel="stylesheets/style.css"/>
		<link rel="stylesheets/foundation.css" />
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<h1>Add guests to a table</h1>
		<form id="addToTable" name="addGuests" method="post" action="/addguest">
			<input type="text" placeholder="add table number" name="tableno">
			<input type="text" placeholder="add guest names" name="names">
			<button type="submit">Add</button>
		</form>

		<h2>Complete Guest List</h2>
		<ul>
			<% tablelist.forEach(function(guest) { %>
				<li><%= guest.tableno %> - <%= guest.names %></li>
			<% }); %>
		</ul>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="javascripts/foundation.js"></script>
	</body>
</html>