<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/admin.css"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body class="border">
		<center>
			<header class="row">
				<img id="logostart" src="images/futurelogo.jpg">
				<h1 id="admin" class="small-12 columns">Add Guests To A Table</h1>
			</header>
			<form class="row" id="addToTable" name="addGuests" method="post" action="/addguest">
				<input class="small-12 columns" type="text" placeholder="Table Number" name="tableno" id="tablenoinput">
				<input class="small-12 columns" id="tablenoinput" type="text" placeholder="Guest Names" name="names">
				<button type="submit" id="admin-add">Add</button>
			</form>
			<form class="row" id="volunteerreturn" action="/volunteer-table">
				<button id="voltable" type="submit">Choose Your Table</button>
			</form>
			<header class="row">
				<h1 class="small-12 columns" id="photos-h1">Display Future Hope Photos</h1>
			</header>
		</center>
		<div class="row">
			<form action="/admin" id="photo5" c dlass="pic"> 
				<button class="small-4 columns button tiny" id="Rugby">Rugby</button>
			</form>
			<form action="/admin" id="photo1" class="pic"> 
				<button class="small-4 columns button tiny" id="cricket1year">Cricket</button>
			</form>
			<form action="/admin" id="photo7" class="pic"> 
				<button class="small-4 columns button tiny" id="houseparent">HouseParent</button>
			</form>
			<form action="/admin" id="photo2" class="pic"> 
				<button class="small-4 columns button tiny" id="teacher1year">Teacher 1 Year</button>
			</form>
			<form action="/admin" id="photo8" class="pic"> 
				<button class="small-4 columns button tiny" id="degree">University</button>
			</form>
			<form action="/admin" id="photo3" class="pic"> 
				<button class="small-4 columns button tiny" id="education6months">Education 6 Months</button>
			</form>
			<form action="/admin" id="photo6" class="pic"> 
				<button class="small-4 columns button tiny" id="homeandEdu6month">Support Child 1 Month</button>
			</form>
			<form action="/admin" id="photo4" class="pic"> 
				<button class="small-4 columns button tiny" id="activities">Activities</button>
			</form>
			<form action="/admin" id="db" class="pic"> 
				<button class="small-4 columns button tiny" id="db">DB Images</button>
			</form>
		</div>
		<form class="row" action="/admin" id="closephoto"> 
			<button class="small-12 columns button" id="close">Remove Image</button>
		</form>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/foundation.reveal.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/admin.js"></script>
	</body>
</html>