<h1><%= title %></h1>
<form id="addToTable" name="addGuests" method="post" action="/addguest">
	<input type="text" placeholder="add table number" name="tableno">
	<input type="text" placeholder="add guest names" name="names">
	<button type="submit">Add</button>
</form>