<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<h3>Total pledges made so far</h3>
		<div id="display-messages">
		</div>
		<ul>
			<% images.forEach(function(pic) { %>
				<img src="images/<%= pic %>" />
			<%	}); %>
		</ul>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			socket.emit('create', 'room1');
			socket.on('chat message', function(msg) {
				var string = msg.substring(0, msg.length -1);
				var array = string.split(',');
				array.forEach(function(image) {
					var pic = '<img src="images/' + image + '"/>'
					console.log(pic);
			  	$('#display-messages').append(pic);
				});
		  });
		</script>
		<script>

		</script>
	</body>
</html>
