<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link rel="stylesheet" href="stylesheets/animate.css">
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<div id="display">

		</div>
		<div id="display-messages">
		</div>	
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/wow.min.js"></script>
		<script>
			new WOW().init();
			var socket = io();
			socket.emit('create', 'room1');
			socket.on('chat message', function(msg) {
				var string = msg.substring(0, msg.length -1);
				var array = string.split(',');
				array.forEach(function(image) {
					var display = document.getElementById('display')
					display.style.opacity = "0.4";

					var pic = '<img id="avatars" class="wow bounceIn" height="80px" width="80px" src="images/' + image + '"/>'
			  	$('#display-messages').append(pic);
			  });
			});
		</script>
	</body>
</html>
