<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link rel="stylesheet" href="stylesheets/animate.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<div id="display">
			<% if (items) { %>
				<% items.forEach(function(image) { %>
					<img class="wow bounceIn" height="80px" width="80px" src="images/<%= image %>" />
				<% }); %>
			<% }; %>
		</div>
		<!-- <div class="wow tada" id="thankyou">
			We've reached 100 items 
			Thankyou Everyone!
		</div> -->
		<div id="display-messages">
		</div>

			<h2 id="thankyou">Thanks To : </h2>
		<div id="display-names">
			<marquee behavior="scroll"  id="disp" direction="left"> </marquee>

		</div>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/wow.min.js"></script>
		<script>
			new WOW().init();
			var socket = io();
			socket.emit('create', 'room1');
			socket.on('names message', function(msg) {
				var names = msg;
				$('#disp').append('<li id="names-list">' + msg + ', </li>');
			});
			socket.on('chat message', function(msg) {
				var string = msg.substring(0, msg.length -1);
				var array = string.split(',');
				array.forEach(function(image) {
					var display = document.getElementById('display')
					display.style.opacity = "0.4";

					  function randomFrom(array) {
            return array[Math.floor(Math.random() * array.length)];
          }
					var effect = randomFrom([' rotateIn', ' flash', ' bounceIn', ' pulse', ' tada', ' zoomIn']);
					var pic = '<img id="avatars" class="animated' + effect + '" height="80px" width="80px" src="images/' + image + '"/>'
					console.log(effect)
			  	$('#display-messages').append(pic);
			  		
			  });
				var loadsofimg = document.getElementsByTagName('img');
				// if (loadsofimg.length > 100) {
				// 	setTimeout(function(){
				// 	$('#thankyou').show();
				// }, 2000);
				// } else {
				// 	console.log("notyet");
				// }
			});
		</script>
	</body>
</html>
