<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Testing</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<h3>Total pledges made so far</h3>
		<ul>
			<% itemlist.forEach(function(pledge) { %>
				<li><%= pledge.item %> - <%= pledge.names %></li>
			<% }); %>
		</ul>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
			<script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io();
		</script>
	</body>
</html>
