<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/volunteer.css" />
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>

		<section class="row" id="confirm-section">
			<div class="small-12 columns" id="confirmation">
				<h2>Please confirm you selected:</h2>
				<ul id="selection">
				</ul>
				<form class="small-6 columns" id="change">
					<button id="return">Go Back</button>
				</form>
				<form class="small-6 columns" id="confirmed">
					<button type="submit" id="conf">Submit</button>
				</form>
			</div>
		</section>

		<section id="vol-body">
			<header class="row">
				<img id="logomain" src="images/futurelogo.jpg">
				<h1 id="volunteerheader" class="small-12 columns">Table No <%= number %></h1>
			</header>
			<div class="row">
				<div class="small-12 columns" id="error">
					<p id="error-notification">There was an Error. Please select BOTH aution item & guest names.</p>
				</div>
				<div class="small-12 columns" id="success">
					<p id="success-notification">Item successfully added.</p>
				</div>
			</div>
			<form id="mela-auction" name="addItems" method="post" action="/add-to-display">
				<header class="row">
				</header>
				<div class="row" id="selectlist">
					<h3 class="small-12 columns" id="items">Select Auction Item</h3>
					<select class="small-12 columns" name="item" id="mela-item">
						<option>Auction Item</option>
						<option value="cricket.svg">Cricket Program</option>
						<option value="rugby.svg">Rugby Program</option>
						<option value="football.svg">Football</option>
						<option value="houseparentsoneyear.svg">Houseparent (1year)</option>
						<option value="universitydegree.svg">University Degree</option>
						<option value="teacheryear.svg"> Teacher (1 year)</option>
						<option value="activities.svg">Activities</option>
						<option value="education6months.svg">Education (6 months)</option>
						<option value="homeandeducation1month.svg">Home & Education (1 month)</option>
					</select>
				</div>
				<header class="row">
					<h3 class="small-12 columns" id="names">Select Guest Names</h3>
				</header>
				<div class="row" id="guestrow">
					<select class="small-12 columns" name="names" id="guest-list" size="12" multiple>
						<% guests.forEach(function(name) { %>
							<option value="<%= name %>"><%= name %></option>
						<%	}); %>	
						<option value=" Anonymous">Anonymous</option>		
					</select>
				</div>
				<div class="row">
					<button class="small-12 columns vol" id="mela-add" type="submit">Add to Display</button>
				</div>
			</form>
			<section class="small-12 columns" >
				<section class="row" id="navigationbuttons">
					<form action="/volunteer-table">
						<button class="small-12 columns vol" id="reselect" type="submit">Reselect Table</button>
					</form>
					<form action="/admin">
						<button class="small-12 columns vol" id="addguests" type="submit">Add Guests To Table</button>
					</form>
				</section>
			</section>
		</section>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/volunteer.js"></script>
	</body>
</html>
