<h1>Choose the table you're working at</h1>
<form id="volunteerTable" name="selectTable" action="">
	<input id="number" type="text" placeholder="select your table" name="tablenumber">
	<button id="button" type="submit">Select</button>
</form>

