<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Testing</title>
		<link rel="stylesheets/style.css"/>
		<link rel="stylesheets/foundation.css" />
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body><h1>Choose the table you're working at</h1>
		<form id="volunteerTable" name="selectTable" action="">
			<select name="tablenumber" id="number">
				<option value="">--</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
			</select>
			<button id="button" type="submit">Select</button>
		</form>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
	</body>
</html>