<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<header class="row">
			<h1 id= "volunteerheader" class="small-12 columns">Table No <%= number %></h1>
		</header>
		<form id="mela-auction" name="addItems" method="post" action="/add-to-display">
			<header class="row">
				<h3 class="small-12 columns">Select the item being auctioned</h3>
			</header>
			<div class="row">
				<select class="small-12 columns" name="item" id="mela-item">
					<option>Auction item</option>
					<option value="cricket.svg">Cricket Program (1 available)</option>
					<option value="rugby.svg">Rugby Program (1 available)</option>
					<option value="homes.svg">Home with a House-Parent</option>
					<option value="teacher1year.svg">Teacher (1 year)</option>
					<option value="childhood1year.svg">Childhood (1 year)</option>
					<option value="degree.svg">University Degree</option>
					<option value="teacher1month.svg">Teacher (1 month)</option>
					<option value="childhood1month.svg">Childhood (1 month)</option>
					<option value="activities.svg">Activities</option>
				</select>
			</div>
			<header class="row">
				<h3 class="small-12 columns">Select the names of table-members making a pledge</h3>
			</header>
			<div class="row">
				<select class="small-12 columns" name="names" id="guest-list" size="12" multiple>
					<% guests.forEach(function(name) { %>
						<option value="<%= name %>"><%= name %></option>
					<%	}); %>
				</select>
			</div>
			<div class="row">
				<button class="small-12 columns" id="mela-add" type="submit">Add to Display</button>
			</div>
		</form>
		<form class="row" action="/volunteer-table">
			<button class="small-12 columns" type="submit">Reselect Table Number</button>
		</form>
		<form class="row" action="/admin">
			<button class="small-12 columns" type="submit">Add Guests To The Table</button>
		</form>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io();
	  	String.prototype.repeat = function(num) {
	  		return new Array(num + 1).join(this + ',');
	  	};
		  $('#mela-auction').submit(function(e) {
		  	e.preventDefault();
		  	$.ajax({
		  		type: "POST",
		  		url: "/add-to-display",
		  		data: $('form#mela-auction').serialize(),
		  		success: function() {
		  			console.log('saved to db');
		  		}
		  	});
		  	var item = $('#mela-item').val();
		  	var names = $('#guest-list').val();
		  	var total = Object.keys(names).length
		  	socket.emit('chat message', item.repeat(total));
		  	$('#mela-item').val('');
		  	$('#guest-list').val('');
		  	return false;
		  });
		</script>
	</body>
</html>

