<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Future Hope Mela</title>
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<header class="row">
			<img id="logomain" src="images/futurelogo.jpg">

			<h1 id="volunteerheader" class="small-12 columns">Table No <%= number %></h1>
		</header>
		<div class="row">
			<div id="error">
				<p class="small-12 columns" id="error-notification">Please try again, select BOTH aution item & guest names.</p>
			</div>
			<div class="small-12 columns" id="success">
				<p class="small-12 columns" id="success-notification">Item successfully added.</p>
			</div>
		</div>
		<form id="mela-auction" name="addItems" method="post" action="/add-to-display">
			<header class="row">
			</header>
			<div class="row" id="selectlist">
				<h3 class="small-12 columns" id="items">Select Item</h3>
				<select class="small-12 columns" name="item" id="mela-item">
					<option>Auction Item</option>
					<option value="cricket.svg">Cricket Program (1 available)</option>
					<option value="rugby.svg">Rugby Program (1 available)</option>
					<option value="rowing.svg">Rowing</option>
					<option value="football.svg">Football</option>
					<option value="homes.svg">Home with a House-Parent</option>
					<option value="teacher1year.svg">Teacher (1 year)</option>
					<option value="childhood1year.svg">Childhood (1 year)</option>
					<option value="degree.svg">University Degree</option>
					<option value="teacher1month.svg">Education (6 months)</option>
					<option value="childhood1month.svg">Childhood (1 month)</option>
					<option value="activities.svg">Activities</option>
				</select>
			</div>
			<header class="row">
				<h3 class="small-12 columns" id="names">Select Names</h3>
			</header>
			<div class="row" id="guestrow">
				<select class="small-12 columns" name="names" id="guest-list" size="12" multiple>
					<% guests.forEach(function(name) { %>
						<option value="<%= name %>"><%= name %></option>
					<%	}); %>	
					<option value=" Anonymous">Anonymous</option>		
				</select>
			</div>
			<div class="row">
				<button class="small-12 columns vol" id="mela-add" type="submit">Add to Display</button>
			</div>
		</form>
		<section class="small-12 columns" >
		<section class="row" id="navigationbuttons">
		<form action="/volunteer-table">
			<button class="small-12 columns vol" id="reselect" type="submit">Reselect Table</button>
		</form>
		<form action="/admin">
			<button class="small-12 columns vol" id="addguests" type="submit">Add Guests To Table</button>
		</form>
	</section>
	</section>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/foundation.js"></script>
		<script src="javascripts/script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/volunteer.js"></script>
	</body>
</html>

