<h1>Table Number ....</h1>

<form id="mela-auction" name="addItems" method="post" action="/add-to-display">
	<h3>Select the item being auctioned</h3>
	<select name="item" id="mela-item">
		<option>Auction item</option
		<option value="cricket.svg">Cricket Program (1 available)</option>
		<option value="rugby.svg">Rugby Program (1 available)</option>
		<option value="home.svg">Home with a House-Parent</option>
		<option value="teacher.svg">Teacher (1 year)</option>
	</select><br />
	<h3>Select the names of table-members making a pledge</h3>
	<select name="names" id="guest-names">
		<option>Table members</option>
		<option value="Mr-One">Mr One</option>
		<option value="Mrs-Two">Mrs Two</option>
		<option value="Miss-Three">Miss Three</option>
		<option value="Ms-Four">Ms. Four</option>
	</select><br /><br />
	<button id="mela-add" type="submit">Add to Display</button>
</form>

<h3>Total pledges made so far</h3>
<ul>
	<% itemlist.forEach(function(pledge) { %>
		<li><%= pledge.item %> - <%= pledge.names %></li>
	<% }); %>
</ul>

