* {
  font-family: 'Istok Web', sans-serif;
}

div#display {
	background-image: url(/images/intro.jpg);
	height: 92%;
	width: 100%;
	z-index: 1; 
	position: absolute;
	top: 0px;
	left: 0px;
  background-size: cover;
  display: block;
}

li {
	list-style-type: none;
}

select#mela-item{
	margin-top: 10px;
	width: 100%;
	text-align: center;
 	font-size: 40px;
  height: 6rem;
}

select#guest-list{
	font-size: 60px;
	width: 100%;
}

a {
  color: #00B7FF;
}

button{
	width: 12rem;
	height: 4rem;
	background-color: #de5958;
	font-size: 34px;
	padding: 10px;
	margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Auction Page */

h1#admin {
	margin-left: 2rem;
	margin-top: 4rem;
	padding-bottom: 10px;
}

button#admin-add {
	width: 12rem;
	height: 4rem;
	font-size: 2rem;
}

form#addToTable {
	width: 70%;
}

form#volunteerreturn {
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 70%;
}

h1#photos-h1 {
	margin-bottom: 2rem;
}

button.tiny {
	font-size: 20px;
  margin-left: 0.5rem;
  width: 20rem;
}

button#close {
	background-color: #de5958;
}


input#tablenoinput {
	height: 100px;
	font-size: 50px;
	text-align: center;
}

input#namesinput{
	height: 100px;
}

button#number {
	width: 12rem;
	height: 4rem;
	font-size: 2rem;
}

button:hover{
	background-color: #d22630;
	opacity: .9	;
}

button.vol {
	height: 5rem;
	margin-top: 1rem;
	font-size: 36px;
}

option{
	margin-bottom: 2rem;
	font-size: 40px;
	min-height: 100px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

img#avatars{
	z-index: 2;
	position: relative;
}

img#logostart{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

h2#welcome {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Love Ya Like A Sister', Helvetica;
	font-size: 34px;
	margin-top: 10rem;
	margin-bottom: 50px;
}

select#selecttable {
	width: 14rem;
	height: 4rem;
	margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
}

h1#volunteerheader {
	margin-left: auto;
	margin-right: auto;
	display: table;
	margin-bottom: 50px;
	font-size: 90px;
	font-family: 'Love Ya Like A Sister', Helvetica;
}

form#mela-auction {
	color: #7c2529;
}

#error {
	display: none;
	color: #de5958;
  text-align: center;
  font-size: 44px;
}

h1#volunteerheader{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img#logomain {
	height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

h3 {
	text-align: center;
}

h3#names{
	margin-top: 100px;
	font-size: 60px;
	font-family: 'Love Ya Like A Sister', Helvetica;
}

h3#items{
	font-size: 60px;
	font-family: 'Love Ya Like A Sister', Helvetica;
}


button#mela-add {
	margin-top: 50px;
	height: 150px;
	border: 3px solid black;
	font-size: 60px;

}

section#navigationbuttons{
	margin-top: 50px;
}

button#reselect {
	width: 50%;
	border:1px solid black; 
	font-size: 50px;
	background-color: #4056F4;
}
button#addguests{
	width: 50%;
	border: 1px solid black;
	font-size: 45px;
	background-color: #78D5D7;
}

button#voltable {
	border: 1px solid black;
	background-color: #78D5D7;
	height: initial;
	width: initial;
}

div#photos {
	max-width: 60rem;
}

div.pics {
	border: 1px solid black;
	margin: 1rem;
	margin-bottom: 2rem;
	height: 7rem;
	width: 10rem;
}

div#success{
	color: #50ed42;
    display: none;
    text-align: center;
}

p#success-notification{
	font-size: 50px;	
}

p#error-notification {
	font-size: 50px;
}

div#thankseveryone{
	font-family: 'Love Ya Like A Sister', Helvetica;
	display:none;
    z-index: 105;
    position: inherit;
    font-size: 90px;
    padding-top: 25%;
    text-align: center;
}

div#display-names {
    background-color: #f52d2d;
    z-index: 10;
    width: 80%;
    height: 8%;
    bottom: 0;
    position: fixed;
    text-align: center;
    float: right;
    margin-left: 20%;
    opacity: .9;
        }

h2#thankyou {
    font-family: 'Love Ya Like A Sister', Helvetica;
    background-color: #f52d2d;
    z-index: 10;
    color: white;
    width: 20%;
    height: 8%;
    bottom: 0;
    position: absolute;
    float: left;
    text-align: center;
    margin-bottom: 0;
    font-size: 35px;
    opacity: .9;
}

li#names-list {
	font-family: 'Love Ya Like A Sister', Helvetica;
	display: inline-block;
	font-size: 30px;
	z-index: 20;
	line-height: inherit;
  color: white;
}
div#display-rugby-messages {
	float: left;
	z-index: 20;
}

div#display-cricket-messages {
	float: right;
	z-index: 20;
}

div#display-football-messages {
	float: left;
	bottom: 8%;
	position: fixed;
	z-index: 20;
}

@media screen and (max-width: 1000px) { 
	body.border {
		border: 8px solid #D22630;
	}
}

img.futurehope {
	z-index: 50;
	height: 80%;
	width: 80%;
	position: relative;
	display: none;
	margin: auto;
	z-index: 100;
	padding-top: 50px;
}

#future-hope-photos {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}