* {
  font-family: 'Istok Web', sans-serif;
}

body.border {
	border: 8px solid #D22630;
}

div#display {
	background-image: url(/images/intro.jpg);
	height: 100%;
	width: 100%;
	z-index: 1; 
	position: absolute;
	top: 0px;
	left: 0px;
  background-size: cover;
  display: block;
}

li {
	list-style-type: none;
}

select#mela-item {
	margin-top: 50px;
	width: 100%;
	text-align: center;
 	font-size: 40px;
  height: 6rem;
}

select#guest-list {
	font-size: 60px;
	width: 100%;
}

a {
  color: #00B7FF;
}

button {
	width: 12rem;
	height: 4rem;
	background-color: #de5958;
	font-size: 40px;
	padding: 10px;
	margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Auction Page */

h1#admin {
	margin-left: 2rem;
	margin-top: 30rem;
	padding-bottom: 10px;
}

button#admin-add {
	width: 12rem;
	height: 4rem;
	font-size: 2rem;
}

form#addToTable {
	width: 70%;
}

form#volunteerreturn {
	margin-top: 100px;
	width: 70%;
}

input#tablenoinput {
	height: 100px;
	font-size: 50px;
	text-align: center;
}

input#namesinput {
	height: 100px;
}

button#voltable {
	height: 150px;
	width: 300px;
}

button#number {
	width: 12rem;
	height: 4rem;
	font-size: 2rem;
}

button:hover {
	background-color: #d22630;
	opacity: .9	;
}

button.vol {
	height: 5rem;
	margin-top: 1rem;
	font-size: 36px;
}

option {
	margin-bottom: 2rem;
	font-size: 40px;
	min-height: 100px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

img#avatars {
	z-index: 2;
	position: relative;
}

img#logostart {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

h2#welcome {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Love Ya Like A Sister', Helvetica;
	font-size: 34px;
	margin-top: 10rem;
	margin-bottom: 50px;
}

select#selecttable {
	width: 14rem;
	height: 4rem;
	margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
}

h1#volunteerheader {
	margin-left: auto;
	margin-right: auto;
	display: table;
	margin-bottom: 50px;
	font-size: 90px;
	font-family: 'Love Ya Like A Sister', Helvetica;
}

form#mela-auction {
	color: #7c2529;
}

#notifications {
	display: none;
	color: #de5958;
  text-align: center;
  font-size: 24px;
}

h1#volunteerheader {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img#logomain {
	height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

h3 {
	text-align: center;
}

h3#names {
	margin-top: 200px;
	font-size: 60px;
	font-family: 'Love Ya Like A Sister', Helvetica;
}

button#mela-add {
	margin-top: 150px;
	height: 150px;
	border: 3px solid black;
	font-size: 60px;
}

section#navigationbuttons {
	margin-top: 100px;
}

button#reselect {
	width: 50%;
	border:1px solid black; 
	font-size: 20px;
	background-color: #4056F4;
}

button#addguests {
	width: 50%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #78D5D7;
}

button#voltable {
	border: 1px solid black;
	background-color: #78D5D7;

}
